@import '../../styles/_variables';

.feature-item {
  max-width: 325px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  h3 {
    font-size: 30px;
  }

  i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
